@media screen and (max-width: 1024px) {

    //insta

    .instagram-profile {
        max-width: 1024px;

        .photo-box {
            grid-gap: 20px 20px;
            grid-template-columns: 253px 253px 253px;
            grid-template-rows: 250px 250px 250px;
        }

        .item {
            width: 250px;
            height: 253px;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 991px) {

    //header

    header {

        .description-info {
            display: none;
        }

        .navbar-toggler {
            margin-right: 11px;
        }
    }


    // first screen 

    .first-screen {

        .banner {
            margin-top: 0;
        }
    }


    // about us

    .about-us {
        

        .container {
            max-width: 991px;
            width: 100%;
            margin: 0;
            padding: 0;

            .row {
                flex-direction: column;
                align-items: center;

                .col-lg-7 {

                    .topic,
                    .description,
                    h5 {
                        text-align: center;
                    }

                    .description {
                        padding-right: 0;
                    }
                }

                .col-lg-5 {

                    // margin-left: 35px;
                    margin-left: 0px;
                    justify-content: center;
                    display: flex;
                    align-items: center;

                    &::before {
                        left: -5%;
                    }
                    
                    img {
                        margin-left: -35px;
                    }
                }
    
            }

            .info {
                // margin-left: 0px;
                margin-left: 7px;
                padding: 0;
                width: 320px;
            }
        }
        
    }


    //recomend


    .recomend {
        max-width: 991px;

        .row {
            flex-flow: initial;

            .col-lg-4 {
                width: 343px;

                .content-cart {
                    width: 343px;
                }
            }

            .col-lg-8 {
                width: 343px;
                margin-left: 30px;

                .content-cart {
                    width: 343px;
                }
            }

            .item {
                transform: translate(-177px, 0px);

                .content-cart {
                    margin-left: 25px;
                }
            }

        }
    }
}

@media screen and (max-width: 830px) {

    //insta

    .instagram-profile {
        max-width: 830px;

        .photo-box {
            grid-gap: 20px 20px;
            grid-template-columns: 203px 203px 203px;
            grid-template-rows: 200px 200px 200px;
        }

        .item {
            width: 200px;
            height: 203px;
            background-size: cover;
        }
    }
}