@media screen and (max-width: 1120px) {

    // title-3 menu 

    .menu {
        .data-box:nth-child(1) {
            padding-left: 20px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 21px;
                background-image: url(assets/img/search.png);
                top: calc(42% - 5px);
                left: calc(10% - 5px);
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    //insta

    .instagram-profile {
        max-width: 1024px;

        .photo-box {
            grid-gap: 20px 20px;
            grid-template-columns: 253px 253px 253px;
            grid-template-rows: 250px 250px 250px;
        }

        .item {
            width: 250px;
            height: 253px;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 991px) {

    //header

    header {

        .description-info {
            display: none;
        }

        .navbar-toggler {
            margin-right: 11px;
        }
    }


    // first screen 

    .first-screen {

        .banner {
            // margin-top: 0;
            width: 137%;
            margin: 0;
            margin-left: -96px;
        }
    }


    // about us

    .about-us {
        

        .container {
            max-width: 991px;
            width: 100%;
            margin: 0;
            padding: 0;
            // position: relative;

            .row {
                flex-direction: column;
                align-items: center;

                .col-lg-7 {

                    .topic,
                    .description,
                    h5 {
                        text-align: center;
                    }

                    .description {
                        padding-right: 0;
                    }
                }

                .col-lg-5 {

                    // margin-left: 35px;
                    margin-left: 0px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    // position: initial;

                    &::before {
                        left: -5%;
                    }
                    
                    img {
                        margin-left: -35px;
                    }
                }
    
            }

            .info {
                // margin-left: 0px;
                margin-left: 7px;
                padding: 0;
                width: 320px;
            }
        }
        
    }


    //recomend


    .recomend {
        max-width: 991px;

        .row {
            flex-flow: initial;

            .col-lg-4 {
                width: 343px;

                .content-cart {
                    width: 343px;
                }
            }

            .col-lg-8 {
                width: 343px;
                margin-left: 30px;

                .content-cart {
                    width: 343px;
                }
            }

            .item {
                transform: translate(-177px, 0px);

                .content-cart {
                    margin-left: 25px;
                }
            }

        }
    }

    //title-2 

    .buildings {

        .photo-box {

            grid-template-columns: 381px 381px;
            grid-template-rows: 246px 246px;
        }   
    }

    // title-3 menu

    .baner-title-3 {
        margin-bottom: 15px;
    }

    .menu {
        max-width: 991px;
        margin-left: 21px;
        
        .form {
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-left: 35px;
        }

        .data-box {
            max-width: 601px;
            width: 100%;
            

            &:nth-child(2) {
                max-width: 601px;
                width: 100%;
                margin: 0;
                margin-left: 38px;
                margin-bottom: 20px;
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        .data-box:nth-child(1) {
            margin-bottom: 15px;
            padding-left: 16px;
            padding-right: 16px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 21px;
                background-image: url(assets/img/search.png);
                top: calc(42% - 5px);
                left: calc(10% - 30px);
            }
        }

        .pages {
            margin-top: 34px;
            margin-left: 11px;

            .btn-1-page,
            .btn-2-page,
            .btn-prev,
            .btn-next {
                width: 44px;
                height: 42px;
            }

            .btn-prev {
                background-image: url(assets/img/prev-mobile.svg);

                &::after {
                    background-image: url(assets/img/prev-mobile-hover.svg);
                }
            }

            .btn-next {
                background-image: url(assets/img/next-mobile.svg);
                
                &::after {
                    background-image: url(assets/img/next-mobile-hover.svg);
                }
            }

            .btn-1-page,
            .btn-2-page {
                &::after {
                    top: 6px;
                    left: 16px;
                    font-size: 20px;
                }
            }
        }

    }


}

@media screen and (max-width: 830px) {

    //insta

    .instagram-profile {
        max-width: 830px;

        .photo-box {
            grid-gap: 20px 20px;
            grid-template-columns: 203px 203px 203px;
            grid-template-rows: 200px 200px 200px;
        }

        .item {
            width: 200px;
            height: 203px;
            background-size: cover;
        }
    }

    //title-2 

    .buildings {
        // width: 830px;
        width: 100%;
        justify-content: center;
        align-items: center;

        .photo-box {
            grid-template-columns: 580px;
            grid-template-rows: 389px;
            grid-gap: 60px 47px;
        }

        .img-box {

            img {
                width: 580px;
            }
        }

        .item {
            max-width: 580px;
            margin-bottom: -45px;
            &:nth-child(1) {
                margin-bottom: 0;
            }
        }

        .house-name {
            margin-left: 20px;
            width: 539px;

            &::after {
                width: 522px;
            }
        }
    }
}