@media screen and (max-width: 1399px) {

    // header

    header {
        .navbar-toggler {
            margin-left: 45px;
        }

        .logo {
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 1299px) {

    // title-3 menu 

    .menu {
        .data-box:nth-child(1) {
            padding-left: 20px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 21px;
                background-image: url(assets/img/search.png);
                top: calc(42% - 5px);
                left: calc(10% - 15px);
            }
        }
    }

}

@media screen and (max-width: 1260px) {

    // insta 

    .instagram-profile {
        max-width: 1250px;

        .photo-box {
            grid-gap: 25px 25px;
            grid-template-columns: 313px 313px 313px;
            grid-template-rows: 310px 310px 310px;
        }

        .item {
            width: 310px;
            height: 310px;
            background-size: cover;
        }
    }

    // profile 

    .profile {
        max-width: 1260px;

        .row {
            flex-direction: column;
            align-items: center;

            .col-lg-5 {
                margin-left: -100px;
                margin-bottom: -90px;
            }

            .col-lg-7 {

                .topic,
                .description,
                h5 {
                    text-align: center;
                    margin-left: 0;
                }

                .btn {
                    margin-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    // title-2 

    .buildings {

        .photo-box {
            grid-template-columns: 412px 381px;
            grid-template-rows: 246px 246px;
        }
    }
}

@media screen and (max-width: 1199px) {

    // header

    header {

        .logo {
            max-width: 300px;
        }
    }

    // about us


    .about-us {
        
        .row {

            .col-md-5 {
    
                ::before {
                    left: -23px;
                }
    
                img {
                    margin-left: 30px;
                }
            }
        }
    }

    //   recomend


    .recomend {

        .row {
            justify-content: center;

            .col-lg-8 {
                max-width: 808px;
                width: 100%;
                margin: auto 16px;
            }

            .col {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;

                .content-cart {
                    max-width: 393px;
                    margin-left: 35px;
                }
            }

            .col:nth-child(2) {
                margin-left: 0;

                .content-cart {
                    margin-left: 25px;
                }
            }
        }
    }

}

