@media screen and (max-width: 767px) {

    .first-screen {

        .banner {
            margin-left: -90px;

            .first-screen-title {
                font-size: 74px;
                margin-right: 33px;
            }

            .first-screen-description {
                font-size: 16px;
                margin-right: 33px;
            }
        }
    }

    .about-us {

        .container {

            .row {

                .col-lg-5 {
                    
                    &::before {
                        // left: -14px;
                        left: 18%;
                    }

                    img {

                        margin-left: 35px;
                    }
                }
            }
        }
    }

    //recomend

    .recomend {
        max-width: 767px;

        .topic-title {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .topic {
            width: 318px;
            text-align: center;
        }

        .description {
            display: none;
        }

        .row {
            flex-flow: column;
            flex-wrap: wrap;
            flex-direction: row;
            width: 343px;
            // margin-left: 0px;
            margin-left: 2px;

            .item {
                transform: none;
                margin-left: 18px;

                &:nth-child(2) {
                    margin-left: 23px;
                    margin-top: 7px;
                }
            }

            .col {

                .img-cart {
                    margin-left: -33px;
                }
            }

            .col-lg-4, 
            .col-lg-8,
            .col:nth-child(2) {
                margin-bottom: 3px;
                margin-left: -32px;

                .content-cart {
                    padding-top: 36px;
                    margin-top: -40px;

                    &::after {
                        max-width: 325px;
                        max-height: 171px;
                        top: 27px;
                    }
                }
            }

            .col-lg-8 {
                margin-top: 5px;
                margin-left: 46px;
                margin-right: 81px;
            }

            .col:nth-child(2) {
                margin-left: 5px;
            }

            .col {
                .img-cart {
                    margin-left: -31px;
                }
            }

            .item:nth-child(1) {
                margin-top: -7px;
                margin-left: 3px;
            }
        }

        .test{
            max-width: 721px;
            width: 100%;
        }

        .btnn {

            &::before {
                display: none;
            }
        }
    }

    //profile 

    #profile {
        margin-bottom: 60px;
        .container {

            .row {
    
                .col-lg-7 {
                    width: 330px;
    
                    .topic {
                        display: none;
                    }

                    .btn-contacts {
                        padding: 9px 58px 11px 61px;
                    }
                }
    
                .col-lg-5 {
                    margin-bottom: 14px;

                    &::before {
                        height: 505px;
                    }
    
                    img {
                        width: 358px;
                        height: 478px;
                        margin-left: 36px;
                    }
                }
            }
        }

    }

    // title-2

    header {

        .container {

            .navbar {
                padding-top: 4px;
            }
        }
    }

    .buildings {
        margin-bottom: 30px;

        .photo-box {
            grid-template-columns: 342px;
            grid-template-rows: 246px;
            // grid-gap: 102px 47px;
            grid-gap: 0;
        }

        .img-box {
            width: 342px;

            img {
                width: 367px;
                height: 274px;
            }
        }

        .house-name {
            width: 340px;
            margin-left: 13px;

            &::after {
                width: 324px;
            }
        }

        .item:nth-child(2) {
            margin-top: 107px;
        }

        .item {
            margin-top: 5px;
            margin-bottom: 24px;
        }
    }

    // title-3 

    .menu {
        margin-left: 0;
        .form {
            margin-left: 11px;
        }
    }

    // title-4 

    .title-4 {
        .banner {
            .first-screen-title {
                font-size: 35px;
                margin: -5px 0;
                margin-left: -50px;
            }
            .first-screen-description {
                font-size: 13px;
                margin-top: 15px;
                margin-left: -50px;
            }
        }
    }

    // title-6 

    .menu-4 {
        .btnn {
            margin: 7px 0 8px;
        }
    }

}
