::selection {
    background-color: #808080;
}

// for js
.width {
    max-width: 212px!important;
    transition: 0.3s ease;
}


body {

    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;

    .container-fluid {
        max-width: 1230px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        // margin: 0 105px;
    }

    // в хедере надпись
    .first-screen-title {
        color: #FFF;
        font-family: "Playfair-Display-SC__Bold";
        font-size: 96px;
        font-style: normal;
        // font-weight: 700;
        line-height: normal;
        z-index: 2;
    }


    // под надписью в хедере
    .first-screen-description {
        color: #FFF;
        text-align: center;
        font-family: "OpenSans-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; 
        max-width: 518px;
        width: 100%;
        z-index: 2;
    }


    .topic {
        color: #808080;
        font-family: "Playfair-Display-SC__Regular";
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .description {
        color: #000;
        font-family: "OpenSans-Regular";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }
}