///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;

$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-grey: #808080;
$color-dark-grey: #606060;







// $bg-color-page: #282B38;
// $bg-color-page: #6A6A6A;
// $bg-color-btn: #E58D35;
// $bg-color-carts: #363A4D;
// $bg-color-green: #89C249;
// $bg-color-words: #fff;