<section class="about-us">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-7 info">
                <div class="topic">О нас</div>
                <div class="description">SPAIN HOUSE - ваш консультант по недвижимости на южном побережье Испании. Наш 10-летний опыт дает нам возможность устанавливать высокие стандарты, добиваясь фантастических результатов, работая большой профессиональной командой, где с первых дней работы основной траекторией для развития стали честность и абсолютное желание помогать клиентам, улучшая их жизнь. Обращаясь к нам, Вы можете быть уверены, что получите лучший совет и решение, с учетом всех Ваших потребностей. Ведь приоритет и задача для нас - найти дом Вашей мечты.</div>
                <h5>будем рады помочь вам!</h5>
            </div>
            <div class="col-md-5">
                <img src="assets/img/about-us-girl.png" alt="">
            </div>
        </div>
    </div>
</section>