<section class="baner-title-6">
    <div class="container">
        <div class="banner">
            <div class="first-screen-title">Земельные</div>
            <div class="first-screen-title">участки</div>
            <div class="first-screen-description">РАССКАЖИТЕ НАМ, ЧТО ТАКОЕ ЖИЗНЬ ВАШЕЙ МЕЧТЫ, И МЫ НАЙДЕМ ЕЕ ДЛЯ ВАС</div>
        </div>
    </div>
</section>

<section class="menu menu-4">
    <div class="container container-fluid">
        <div class="form">
            <div class="data-box">
                <form>
                    <input type="search" id="gsearch" name="gsearch">
                </form>
                <!-- <textarea id="textarea" maxlength="250" rows="1" cols="500"></textarea> -->
            </div>
            <div class="data-box">
                <select name="type-house" id="type-house">
                    <option value="area">Район</option>
                    <option value="quarter">Квартал</option>
                    <option value="street">Улица</option>
                    <option value="alley">Аллея</option>
                </select>
            </div>
            <div class="btnn">
                <button type="button" class="btn btn-find">Поиск</button>
            </div>
        </div>
        <div class="pages">
            <div class="btn-prev"></div>
            <a href="sotogrande.html">
                <div class="btn-1-page"></div>
            </a>
            <a href="sotogrande.html">
                <div class="btn-2-page"></div>
            </a> 
            <div class="btn-next"></div>
        </div>
    </div>
</section>

