<section class="baner-title-4">
    <div class="container">
        <div class="banner">
            <div class="first-screen-title">Вторичная</div>
            <div class="first-screen-title">недвижимость</div>
            <div class="first-screen-description">РАССКАЖИТЕ НАМ, ЧТО ТАКОЕ ЖИЗНЬ ВАШЕЙ МЕЧТЫ, И МЫ НАЙДЕМ ЕЕ ДЛЯ ВАС</div>
        </div>
    </div>
</section>

<section class="menu menu-2">
    <div class="container container-fluid">
        <div class="form">
            <div class="data-box">
                <form>
                    <input type="search" id="gsearch" name="gsearch">
                </form>
            </div>
            <div class="data-box">
                <select name="type-street" id="type-street">
                    <option value="street">Район</option>
                    <option value="kvartal">Квартал</option>
                </select>
            </div>
            <div class="data-box">
                <select name="type-house" id="type-house">
                    <option value="all">Все типы</option>
                    <option value="flat">Квартиры</option>
                    <option value="tanhouse">Таунхаус</option>
                    <option value="house">Дом</option>
                </select>
            </div>
            <div class="btnn">
                <button type="button" class="btn btn-find">Поиск</button>
            </div>
        </div>
        <div class="pages">
            <div class="btn-prev"></div>
            <a href="sotogrande.html">
                <div class="btn-1-page"></div>
            </a>
            <a href="sotogrande.html">
                <div class="btn-2-page"></div>
            </a> 
            <div class="btn-next"></div>
        </div>
    </div>
</section>

