<section class="ekaterina-info">
    <div class="container container-fluid">
        <div class="row">
            <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-linear" class="col-lg-7 col-md-6 info">
                <div class="description">Я решил переехать в Испанию еще в 2008 году. Пройдя через Барселону, Мадрид и Валенсию, я наконец откр ыл для себя жизнь мечты, которой можно наслаждаться в Марбелье в 2012 году, и с тех пор не переезжала!</div>
                <div class="description">Имея опыт работы в секторе недвижимости в инвестиционно-банковской фирме, я понял, что моя обширная сеть контактов в этой области дает мне возможность добиться чего-то большего. Вступив в отрасль недвижимости в 2015 году, я получил шанс стать соучредителем компании Prime Realty Marbella в 2016 году, и с тех пор это безупречный успех!</div>
                <h5>LanguageS: English, Spanish. </h5>
            </div>
            <div data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-sine" class="col-lg-5 col-md-6">
                <img class="desktop-girl" src="assets/img/Ekaterina-K.png" alt="">
                <img class="mobile-girl" src="assets/img/Ekaterina-K-mobile.png" alt="">
            </div>
        </div>
    </div>
</section>