<footer>
	<div class="container">
        <div class="footer-block">
            <div class="logo">
                <img src="assets/img/logo-footer.png" alt="">
            </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/instagram-footer.png" alt="">
                    </div>
                    <div class="col">
                        <img src="assets/img/facebook-footer.png" alt="">
                    </div>
                </div>
                <h5>© Все права защищены. Агентство недвижимости Spain House </h5>
            
        </div>
    </div>
</footer>


<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>