<section data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="send-form form-contact">
    <div class="container">
        <div class="form">
            <div class="form-title">Нужна помощь?</div>
            <div class="form-description">Заполните форму ниже или позвоните мне</div>
            <div class="form-contacts">
                <div class="col-left">+01 951 120 365</div>
                <div class="col-right">+34 951 120 365</div>
                <div class="last">+34 951 120 365</div>
            </div>
            <div class="data-box">
                <form>
                    <input type="text" id="fname" name="fname" placeholder="   Имя*">
                </form>
                <form>
                  <input type="email" id="email" name="email" placeholder="   Email адрес*">
                </form>
                <form>
                  <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="   Номер телефона">
                </form>
                <form>
                    <input type="text" id="text" name="text" placeholder="   Сообщение*">
                </form>
            </div>
            <div class="check-box">
                <input class="checkbox__input" type="checkbox" id="checkbox-1">
                <label class="checkbox__label" for="checkbox-1">Я Принимаю Политику Конфиденциальности</label>
            </div>
            <button type="button" class="btn btn-send">Отправить</button>
        </div>
    </div>
</section>