<div class="instagram-profile">
    <div class="container container-fluid">
        <div class="instagram-photo">
            <img src="assets/img/instagram-logo.png" alt="#">
        </div>
        <div class="title">
            <div class="topic">Instagram</div>
        </div>
        <div class="instagram-name">
            <h4>@realestate_spain_ekaterina</h4>
        </div>
        <div class="photo-box">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>
            <div class="item item-5"></div>
            <div class="item item-6"></div>
            <div class="item item-7"></div>
            <div class="item item-8"></div>
            <div class="item item-9"></div>
        </div>
        <div class="btnn">
            <button type="button" class="btn btn-see-more">Смотреть больше</button>
        </div>
    </div>
</div>