<section class="buildings">
    <div class="container container-fluid">
        <div class="photo-box">
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-1">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-1.png">
                        <img src="assets/img/2-title-img-1.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Sotogrande</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-2">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-2.png">
                        <img src="assets/img/2-title-img-2.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Casares</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-3">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-3.png">
                        <img src="assets/img/2-title-img-3.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Estepona</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-4">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-4.png">
                        <img src="assets/img/2-title-img-4.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>New Golden Mile</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-5">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-5.png">
                        <img src="assets/img/2-title-img-5.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Benahavis</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-6">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-6.png">
                        <img src="assets/img/2-title-img-6.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Marbella</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-7">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-7.png">
                        <img src="assets/img/2-title-img-7.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Mijas Kosta</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-8">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-8.png">
                        <img src="assets/img/2-title-img-8.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Fuengirola</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-9">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-9.png">
                        <img src="assets/img/2-title-img-9.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Benalmadena</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-10">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-10.png">
                        <img src="assets/img/2-title-img-10.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Torremolinos</h1>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="item item-11">
                <div class="img-box">
                    <a data-fancybox="gallery-2" href="assets/img/2-title-img-11.png">
                        <img src="assets/img/2-title-img-11.png" alt="">
                    </a>
                </div>
                <div class="house-name">
                    <h1>Malaga</h1>
                </div>
            </div>
        </div>
    </div>
</section>

