<section id="profile" class="profile">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <picture>
                    <source media="(max-width: 767px)" srcset="assets/img/Ekaterina-K-mobile.png">
                    <img src="assets/img/Ekaterina-K.png" alt="#">
                </picture>
                <!-- <img class="desktop-girl" src="assets/img/Ekaterina-K.png" alt="">
                <img class="mobile-girl" src="Ekaterina-K-mobile.png" alt=""> -->
            </div>
            <div class="col-lg-7 col-md-6 info">
                <div class="topic">Екатерина Кузьмина</div>
                <div class="description">Основатель компании <strong>Spain House</strong> , эксперт по недвижимости</div>
                <div class="description">Планируете ли вы переехать в Марбелью или купить дом для отдыха, мы в 3SA Estate внесем решающий вклад, поставив ваши уникальные потребности в центр внимания.</div>
                <h5>LanguageS: English, Spanish.</h5>
                <div class="btn">
                    <button type="button" class="btn btn-contacts">Контакты</button>
                </div>
            </div>
        </div>
    </div>
</section>