<section data-aos="fade-up"data-aos-anchor-placement="center-bottom" data-aos-offset="10" class="recomend">
    <div class="container container-fluid">
        <div class="topic-title">
            <h5 class="topic">Рекомендуемые объекты</h5>
        </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt <br>congue ligula in rutrum. Morbi ne lacus condimentum, hendrerit mi eu,</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="img-cart">
                    <a data-fancybox="gallery-1" href="assets/img/1page-1house.png">
                        <picture>
                            <source media="(max-width: 991px)" srcset="assets/img/1page-1house-mobile.png">
                            <img src="assets/img/1page-1house.png" alt="#">
                        </picture>
                    </a>
                    <!-- <img src="assets/img/1page-1house.png" alt=""> -->
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="img-cart">
                    <a data-fancybox="gallery-1" href="assets/img/1page-2house.png">
                        <picture>
                            <source media="(max-width: 991px)" srcset="assets/img/1page-2house-mobile.png">
                            <img src="assets/img/1page-2house.png" alt="#">
                        </picture>
                    </a>
                    <!-- <img src="assets/img/1page-2house.png" alt=""> -->
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>

                <div class="row">
                    <div class="col item">
                        <div class="img-cart">
                            <a data-fancybox="gallery-1" href="assets/img/1page-3house.png">
                                <picture>
                                    <source media="(max-width: 991px)" srcset="assets/img/1page-3house-mobile.png">
                                    <img src="assets/img/1page-3house.png" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="content-cart">
                            <div class="house-code">Fuengirola - R3304693</div>
                            <div class="house-style">Элитная вилла в стиле модерн</div>
                            <div class="house-price">€4,195,000</div>
                            <div class="row">
                                <div class="col house-square">Площадь: 300 м2</div>
                                <div class="col bedroom">Спальни: 5</div>
                            </div>
                            <div class="terrace">Терраса: 25м2</div>
                        </div>
                    </div>
                    <div class="col item">
                        <div class="img-cart">
                            <a data-fancybox="gallery-1" href="assets/img/1page-4house.png">
                                <picture>
                                    <source media="(max-width: 991px)" srcset="assets/img/1page-4house-mobile.png">
                                    <img src="assets/img/1page-4house.png" alt="#">
                                </picture>
                            </a>
                        </div>
                        <div class="content-cart">
                            <div class="house-code">Fuengirola - R3304693</div>
                            <div class="house-style">Элитная вилла в стиле модерн</div>
                            <div class="house-price">€4,195,000</div>
                            <div class="row">
                                <div class="col house-square">Площадь: 300 м2</div>
                                <div class="col bedroom">Спальни: 5</div>
                            </div>
                            <div class="terrace">Терраса: 25м2</div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="btnn">
            <button type="button" class="btn btn-all-catalog">Весь каталог</button>
        </div>
    </div>
</section>