<section class="recomed">
    <div class="container container-fluid">
        <div class="topic">Рекомендуемые объекты</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi ne lacus condimentum, hendrerit mi eu,</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="content-cart">
                    <div class="img-cart">
                        <img src="assets/img/1page-1house.png" alt="">
                    </div>
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row"></div>
                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </div>
</section>