<section class="block-house-1" >
    <div class="container container-fluid">
        <div class="col-right">
            <div class="sliders">
                <div class="slider-block">
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                </div>
            </div>
    
            <div class="sliders-2">
                <div class="slider-block-2">
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                    <div class="slider-wrapper">
                        <img src="assets/img/house-3-title-3.png" alt="house">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>