<section class="block-house-1" >
    <div class="container container-fluid">
        <div class="row">
            <div class="col-left">
                <div class="topic">Элитная вилла в стиле модерн</div>
                <div class="sliders">
                    <div class="slider-block">
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                    </div>
                </div>
        
                <div class="sliders-2">
                    <div class="slider-block-2">
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                        <div class="slider-wrapper">
                            <img src="assets/img/object-house-1.png" alt="house">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-right">
                <div class="info-cart">
                    <div class="price"><h4>€ 4,192,000</h4></div>
                    <div class="cart article"><h4>Артикул</h4></div>
                    <div class="cart bedrooms"><h4>Спальни</h4></div>
                    <div class="cart bathrooms"><h4>Ванные</h4></div>
                    <div class="cart parking"><h4>Aвтостоянка</h4></div>
                    <div class="cart garden"><h4>Сад</h4></div>
                    <div class="cart swimming-pool"><h4>Бассейн</h4></div>
                    <div class="cart area"><h4>Площадь</h4></div>
                    <div class="cart terrace"><h4>Терраса</h4></div>
                    <div class="cart plot"><h4>Участок</h4></div>
                </div>
            </div>
        </div>
        <div class="title">описание</div>
        <div class="title-description">
            <p>Новая разработка: цены от € & nbsp; 386 000 до € & nbsp; 578 000.  [Кровати: 2–2] [Ванны: 2–3] [Застроенная площадь: 80,00 м2 - 104,00 м2] Дом, в котором
                вы всегда хотели жить, предлагая лучшее из всего.  Это развитие является частью прекрасно созданного жилого района с полностью функционирующими
                общими частями.  Он состоит из 32 домов с двумя и тремя спальнями, включая пентхаусы и просторные сады, общественные бассейны и поля для гольфа,
                расположенные в непосредственной близости от комплекса.  Сделайте большую часть просторных, фантастических мест общего пользования с садами
                для взрослых.  и детские бассейны с деревянными зонтиками, детская игровая площадка, корты для паддл-тенниса и тренажерный зал. Михас - город,
                расположенный в провинции Малага, в самом сердце Коста-дель-Соль, со старым кварталом, в котором есть все очарование традиционной андалузской
                деревни.  Там вы сможете насладиться привлекательными произведениями архитектуры, такими как часовня Вирхен-де-ла-Пенья,  городские стены с
                руинами замка и бесконечный список других достопримечательностей.  Но не только это.  Михас предлагает все, что вам может понадобиться,
                потому что, помимо того, что он расположен у подножия холмов Михас, он также имеет невероятные пляжи и предлагает один из лучших выборов
                полей для гольфа в этом районе. Это идеальное место для любителей этого вида спорта.
            </p>
        </div>
    </div>
</section>