<div class="houses-block">
    <div class="container container-fluid">
        <div class="galery-block">
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-1">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-2">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-3">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-4">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-5">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-6">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-7">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-8">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-9">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-10">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-11">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart item-12">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-2-title-3.png">
                            <img src="assets/img/house-1-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-1-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-duration="800" class="house-cart">
                <div class="img-cart">
                    <a href="object-house-1.html">
                        <picture>
                            <source media="(max-width: 575px)" srcset="assets/img/house-3-title-3.png">
                            <img src="assets/img/house-2-title-3.png" alt="#">
                        </picture>
                    </a>
                </div>
                <div class="content-cart info">
                    <div class="house-code">Fuengirola - R3304693</div>
                    <div class="house-style">Элитная вилла в стиле модерн</div>
                    <div class="house-price">€4,195,000</div>
                    <div class="row">
                        <div class="col house-square">Площадь: 300 м2</div>
                        <div class="col bedroom">Спальни: 5</div>
                    </div>
                    <div class="terrace">Терраса: 25м2</div>
                </div>
            </div>
        </div>
    </div>
</div>